body{
    background: #f0f0f0;
    font-size: 20px;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin:0px;
}
  
body a{
    color:#ffffff;
    text-transform:uppercase;
    text-decoration: none;
    font-size: 20px;
}

header{
    background:#3f704d;
    padding:30px 0px;
    min-height:60px;
}

header #pages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

header #name{
    vertical-align: middle;
    float: left;
}

.centered-container{
    width: 70%;
    margin:auto;
}

.display{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 120px;
    background: tomato;
    text-align: center;
    padding: 50px;
}

.display a{
    width: 100%;
    height: 100%;
}

.cards{
    max-width: 1200px;
    width: 75%;
    padding: 40px 0px 40px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.card{
    background: white;
    color: #444444;
    border-radius: 20px;
    min-width: 300px;
    width: 25%;
    margin:auto;
    padding: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 10);    
}

.card:hover{
    transition: 0.4s;
    box-shadow: 0 0 45px rgba(0, 0, 0, 10);
}

.card img{
    border-radius: 20px;
    width: 100%;
    display: block;
}

.card .desc{
    padding: 5px 20px 5px;
}

.card .desc h1{
    margin: 10px 0px 10px;
}

.card .desc p{
    margin: 0px;
}

button{
    color: white;
    
    font-size: 20px;
    padding: 0;
    
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: none;
    
    border: 3px solid #3f704d;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    transition: 0.8s;
}

.nav-button {
    /*Refactored the ul in the navbar into flex buttons.
    Made by swapping colors on buy-button*/
    border-color: white;

    padding: 15px;
    margin: 0 15px 0;
}

.nav-button:hover{
    background: white;
}

.nav-button:hover a{
    /*Had to do this separately because the are LINKS*/
    color: #3f704d;
}

.buy-button {
    color: #3f704d;

    min-width: 100px;
    width: 50%;
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buy-button:hover{
    color: white;
    background: #3f704d;    
}

footer {
    min-height: 90px;
    width: 100%;
    background: rgb(63,112,77);
    background: linear-gradient(0deg, rgba(63,112,77,1) 0%, rgba(134,163,142,1) 60%, rgba(240,240,240,1) 100%);
    padding: 30px 0px;
}

.footer-container{
    width: 70%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}