body{
    background: #f0f0f0;
    font-size: 20px;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin:0px;
}
  
body a{
    color:#ffffff;
    text-transform:uppercase;
    text-decoration: none;
    font-size: 20px;
}

header{
    background:#3f704d;
    padding:30px 0px;
    min-height:60px;
}

header #pages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

header #name{
    vertical-align: middle;
    float: left;
}

.centered-container{
    width: 60%;
    margin:auto;
}

#homepage{
    display: flex;
    flex-flow: column;
}

.display{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 420px;
    background: #3f704d;
    text-align: center;
    padding: 100px;
    color: #444444;

    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 10);    

    filter: brightness(100%) contrast(60%) grayscale(20%); 

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.display a{
    color: black;
}

#page{
    min-height: 900px;
}

#join{
    background-image: url("./pots/ws.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#about{
    background-image: url(./pots/shop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#sell{
    background-image: url(./pots/action.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.display:hover{
    transition: 0.4s;
    filter: brightness(100%) contrast(100%) grayscale(0%);
    box-shadow: 0 0 45px rgba(0, 0, 0, 10);
}

/* Ditched in favour of a wrapped flex display.*/
.cards{
    min-width: 70%;
    
    max-width: 1200px;
    max-width: 90%;

    padding: 40px 0px 40px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: max-content;
    gap: 40px;
}

/*
.cards{
    min-width: 70%;
    max-width: 1200px;
    
    padding: 40px 0px 40px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
*/

.card{
    background: white;
    color: #444444;

    border-radius: 20px;
    min-width: 100px;
    max-width: 400px;
    padding: 0;
    box-shadow: 0 0 30px #888888;    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img{
    border-radius: 20px;
    width: 100%;
    min-height: 50%;
    filter: grayscale(50%);
    /*display: block;*/
}

.card-rest{
    padding: 5px 20px 20px;
}

/*.card .desc{
    padding: 5px 20px 5px;
}*/

#button-text

.card .desc h1{
    margin: 10px 0px 10px;
}

.card .desc p{
    margin: 0px;
}

.card:hover{
    transition: 0.4s;
    transform: scale(1.08);
    box-shadow: 0 0 45px #555555;
}

.card:hover img{
    transition: 0.4s;
    filter: grayscale(0%);
}

button{
    /*General button properties to be inherited by both
    buy-button and nav-button*/
    font-size: 20px;
    padding: 0;
    
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: none;
    
    border: 3px solid #3f704d;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    transition: 0.8s;
}

.nav-button {
    /*Refactored the ul in the navbar into flex buttons.
    Made by swapping colors on buy-button*/
    color: white;
    border-color: white;

    padding: 15px;
    margin: 0 15px 0;
}

.nav-button:hover{
    background: white;
}

.nav-button:hover a{
    /*Had to do this separately because the are LINKS*/
    color: #3f704d;
}

.buy-button {
    color: #3f704d;

    width: 160px;
    float: right;
    margin-top: 10px;
}

.buy-button:hover{
    color: white;
    background: #3f704d;    
}

footer {
    min-height: 90px;
    width: 100%;
    background: rgb(63,112,77);
    background: linear-gradient(0deg, rgba(63,112,77,1) 0%, rgba(134,163,142,1) 60%, rgba(240,240,240,1) 100%);
    padding: 30px 0px;
}

.footer-container{
    width: 70%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contact-page {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
}

#map{
    width: 65%;
    height:900px;
}

#contact-panel{
    width: 35%;
    height:900px;
    color: #444444;
    padding: 30px;
}

input {
    font-size: 20px;
    padding-left: 15px;

    width:50%;
    margin: 30px 25% 0;
    
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: none;
    
    color: #3f704d;
    border: 3px solid #3f704d;
    border-radius: 8px;
}