.Footer {
    min-height: 90px;
    width: 100%;
    background: rgb(63,112,77);
    background: linear-gradient(0deg, rgba(63,112,77,1) 0%, rgba(134,163,142,1) 60%, rgba(240,240,240,1) 100%);
    padding: 30px 0px;
}